.adminPage {
    background: #f9f9f9;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;


    .mainContent{
        display: flex;
        .adminPageContent{
            flex: 1;
            height: calc(99.9vh - 5rem);
            overflow-y: scroll;
            ::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none;
            scrollbar-width: none;
            box-sizing: border-box;
            padding:  2rem;
            padding-bottom: 0.5rem;
        }
    }
         .adminPageContentFooter {
            margin-top: 2rem;
            margin-bottom: 2rem;
            color: #8c8c8c; 
            text-align: center; 
            padding: 10px 0; 
            font-size: 14px;
            }

        .adminPageContentFooter a {
        color: #5d65f8; 
        text-decoration: none;
        }

        .adminPageContentFooter a:hover {
        text-decoration: underline; 
        }
   
}
